<%= form_for(@prompt) do |f| %>
  <% if @prompt.errors.any? %>
    <%= render 'shared/error_messages', { :@object => @prompt} %>
  <% end %>

  <div class="form-group" >
    <%= f.text_field :question, placeholder: "What do you want to get feedback on?", class:"form-control" %>
  </div>
  <% if @prompt.persisted? %>
  <div class="form-group" >
    <%= f.label :event, class: "form-label" %><br>
    <%= f.text_field :event, placeholder: "Add an event name or location", class: "form-control" %>
  </div>
  <div class="form-group" >
    <%= f.label :closing_time, class: "form-label" %><br>
    <%= f.text_field :closing_time, class: "form-control" %>
  </div>
  <% end %>
  <hr/>
  <div class="form-group">
    <% if @prompt.persisted? %>
      <button type="submit" class="btn btn-primary btn-block">Update</button>
    <% else %>
      <button type="submit" class="btn btn-primary btn-block">Create Prompt</button>
    <% end %>
  </div>
<% end %>
