<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @prompt.question %>
</p>

<p>
  <strong>User:</strong>

</p>

<p>
  <strong>Event:</strong>
  <%= @prompt.event %>
</p>

<p>
  <strong>Closing time:</strong>
  <%= distance_of_time_in_words(Time.now, @prompt.closing_time) %>
</p>

<%= link_to 'Edit', edit_prompt_path(@prompt) %> |
<%= link_to 'Back', prompts_path %>
