<% if current_user == @user %>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <%= render 'user_details' %>
      <% if @user.prompts.present? %>
        <%= render 'open_prompt' %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <%= render 'previous_prompts' %>
    </div>
  </div>
</div>

<% else %>

<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <div class="page-header no-margin">
        <br>
        <%= image_tag @user.image_url, class: "img-circle profile-image" %><br>
        <%= @user.short_name %>
      </div>
      <% if @user.prompts.present? %>
        <h5><small>Wants your feedback on:</small></h5>
        <% open_prompt = @user.prompts.last %>
        <h4><%= open_prompt.question %></h4>
        <% @response = Response.new(:prompt_id => open_prompt.id) %>
        <hr/>
        <%= render 'responses/form', { :@response => @response, :@prompt => open_prompt} %>
      <% end %>
    </div>
  </div>
</div>

<% end %>

<script type="text/javascript">
var main = function() {
  $('.prompt-question').click(function() {
    var $icon = $(this).find('#chevron');
    if ($icon.hasClass('fa-chevron-down')) {
      $icon.removeClass('fa-chevron-down').addClass('fa-chevron-up');
    } else {
      $icon.addClass('fa-chevron-down').removeClass('fa-chevron-up');
    }
    $(this).children('#prompt-responses-data').toggle();
  });
};
$(document).ready(main);
</script>

