<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="page-header">
        <h3><%= @prompt.question %></h3>
        <small>Presenter Name: <%= @prompt.presenter.short_name %></small>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= @responses.count %> responses</h3>
        </div>
        <ul class="list-group">
          <% @responses.each do |response| %>
            <%= render response %>
          <% end %>
        </ul>
      </div>
      <hr/>
      <% @response = Response.new %>
      <%= render 'responses/form', { :@response => @response, :@prompt => @prompt } %>
    </div>
  </div>
</div>



