<nav class="nav">
  <div class="row">
    <div class="col-xs-12">
      <div class="icon-menu">
        <i class="fa fa-bars"></i>
      </div>
    </div>
  </div>
</nav>

<div class="nav-side-menu">
  <div class="menu-close">
    <i class="fa fa-close pull-right"></i>
  </div>
  <div class="text-center">
    <% if current_user %>
      <br>
      <%= image_tag current_user.image_url, class: "img-circle profile-image" %>
      <br>
      <br>
      Hi, <%= current_user.short_name %>
      <br>
      <br>
      <hr/>
      <p><%= link_to "View Previous Prompts", profile_url(current_user.screen_name) %></p>
      <hr/>
      <p><%= link_to "Edit Profile", profile_url(current_user.screen_name) %></p>
      <hr/>
      <p><%= link_to "Sign Out", signout_url %></p>
      <hr/>
    <% else %>
      <%= link_to "Sign In With Twitter", signin_path %>
    <% end %>
  </div>
</div>

<script>
  var main = function() {
    $('.icon-menu').click(function() {
      $('.nav-side-menu').animate({
        left: "0px"
      }, 200);
    });

    $('.menu-close').click(function() {
      $('.nav-side-menu').animate({
        left: "-200px"
      }, 200);

    });
  };
  $(document).ready(main);
</script>

