<nav class="nav">
  <div class="row">
    <div class="col-xs-12">
      <div class="icon-menu pull-left" style="vertical-align: middle;">
        <i class="fa fa-bars"></i>
      </div>
      <% if current_user.present? %>
        <%= link_to '<i class="fa fa-plus"></i>'.html_safe, new_prompt_url, class: 'btn btn-custom pull-right' %>
      <% end %>
    </div>
  </div>
</nav>

<div class="nav-side-menu">
  <div class="menu-close">
    <i class="fa fa-close pull-right"></i>
  </div>
  <div class="text-center">
    <% if current_user %>
      <br>
      <%= image_tag current_user.image_url, class: "img-circle profile-image" %>
      <br>
      <br>
      Hi, <%= current_user.short_name %>
      <br>
      <hr/>
      <p><%= link_to "My Prompts", profile_url(current_user.screen_name) %></p>
      <hr/>
      <p><%= link_to "Create New Prompt", root_url %></p>
      <hr/>
      <p><%= link_to "Sign Out", signout_url %></p>
      <hr/>
    <% else %>
      <br>
      <%= link_to '<i class="fa fa-twitter"></i> Login with Twitter'.html_safe, signin_path, :class => "btn btn-default" %>
    <% end %>
  </div>
</div>

<script>
  var main = function() {
    $('.icon-menu').click(function() {
      $('.nav-side-menu').animate({
        left: "0px"
      }, 200);
    });

    $('.menu-close').click(function() {
      $('.nav-side-menu').animate({
        left: "-210px"
      }, 200);

    });
  };
  $(document).ready(main);
</script>

